.black-background {
	background: rgba(255,255,255,.25);
	backdrop-filter: blur(2rem);
	position: relative;
}

.black-background.success{
	background-image: url(../../assets/icons/check.svg);
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: 90% 50%;
}

.black-background.error{
	background-image: url(../../assets/icons/error.svg);
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: 90% 50%;
}
