/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;600;800&display=swap');


/* Css variables */
:root {
  --primary: #f61817;
  --dark: #070707;
  --light: #F3F7F5;
  --info: #14171d;
  --success: #7f823f;
  --warning: #f61817;
  --danger : #f44336;
  --lg : 6rem;
  --md : calc(3rem + 2 * ((100vw - 320px) / 680));;;
  --sm : calc(16px + 6 * ((100vw - 320px) / 680));;
  --xs : .5rem;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Overpass', sans-serif;
  color: var(--light);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




/**
* ----------------------------------------------
* Accordion styles
* ----------------------------------------------
**/
.accordion {
    margin-top: 2rem;
    width: 90%;

}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);

}

.accordion__button {
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
    padding: 18px;
    width: 95%;
    text-align: left;
    border: none;
    outline: none;
}

/*.accordion__button:hover {
    background-color: var(--info);
}*/

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
    display: none;
}

.accordion__button[aria-expanded='false']::before,
.accordion__button[aria-selected='false']::before {
    transform: rotate(45deg);
    display: none;
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
